In [2]:
import os
import glob
import matplotlib.pyplot as plt

import pickle
import pandas as pd

# 01. Import pickle file with timeseries datasets

In [3]:
pickle_file_path = "../../data/ts_dict.pickle"

with open(pickle_file_path, 'rb') as file:
    ts_dict = pickle.load(file)

In [4]:
ts_dict.keys()

dict_keys(['main', 'jb001_flow_data', 'jb001_water_level', 'jb002_flow_data', 'jb002_water_level', 'jb009_flow_data', 'jb009_level_data', 'snrfa_flow_data', 'snrfa_level_data'])

In [7]:
for idx in ts_dict.keys():
    if idx != "main":
        ts_dict[idx]["date"] = pd.to_datetime(ts_dict[idx]["date"], format='%Y-%m-%d')
        ts_dict[idx].set_index('date', inplace=True)

# 02. Create a combined dataset

In [14]:
df = pd.DataFrame()
df["jb001_flow"] = ts_dict["jb001_flow_data"]["flow(m3/s)"]
df["jb002_flow"] = ts_dict["jb002_flow_data"]["flow(m3/s)"]
df["jb009_flow"] = ts_dict["jb009_flow_data"]["flow(m3/s)"]
df["snfra_flow"] = ts_dict["snrfa_flow_data"]["flow(m3/s)"]
df["jb001_level"] = ts_dict["jb001_water_level"]["level(m)"]
df["jb002_level"] = ts_dict["jb002_water_level"]["level(m)"]
df["jb009_level"] = ts_dict["jb009_level_data"]["level(m)"]
df["snfra_level"] = ts_dict["snrfa_level_data"]["level(m)"]

In [15]:
df

,jb001_flow,jb002_flow,jb009_flow,snfra_flow,jb001_level,jb002_level,jb009_level,snfra_level
date,,,,,,,,
2023-12-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-21,NaN,NaN,156.681837,NaN,2.06,NaN,2.44,4.8
2023-12-20,NaN,NaN,163.684843,NaN,2.02,NaN,2.48,4.8
2023-12-19,NaN,NaN,167.239613,NaN,2.54,NaN,2.50,4.8
2023-12-18,NaN,NaN,163.684843,NaN,2.10,NaN,2.48,4.8
...,...,...,...,...,...,...,...,...
1951-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1951-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1951-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1951-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1951-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.to_csv("../../data/somalia_combined_df.csv")